.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(147, 255, 255), rgb(196, 196, 196));
}
.bigButton {
  display: flex;
  padding: 15rem;
  padding-top: 2rem;

}
.button {
  display: flex;
  padding: 1rem;
  background-image: linear-gradient(cyan, grey);
  border: 4px solid, white ;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  max-width: 10rem;
}
.pickle {
  font-size: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(173, 173, 173);
    padding: 30px 30px;
    border-radius: 20px;
}
.grid {
  display: grid;
  grid-template:
  "a b" 
  ;
  gap: 10rem;
}
.childA {
  grid-area: a;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
    width: 40rem;
    height: 40rem;
}
.childB {
  grid-area: b;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
    width: 400px;
    height: 400px;
}
.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

/* Mobile */
@media (max-width: 700px) {

  .grid {
    display: grid;
    grid-template:
    "a"
    "b" 
    ;
    padding: 50px;
    gap: 100px;
    
  }
  .pickle {
    font-size: 20px;
    color: black;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgb(173, 173, 173);
    padding: 30px 30px;
    border-radius: 20px;
  }
.childA {
  grid-area: a;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
width: 300px;
height: 300px;
}
.childB {
  grid-area: b;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
width: 300px;
height: 300px;
}

  .description p {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
